@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --border-rgb: 25, 25, 25;
  --shadow-rgb: 75, 75, 75;
  --box-background-rgb: 255, 255, 255;
  --login-rgb: 46, 101, 76;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --padding: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

#main-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-between;
  max-width: 70rem;
  margin: auto;
  height: 100%;
  background: rgb(var(--background-end-rgb));
}

#campus-links {
  width: 100%;
}

#announcements {
  width: 100%;
}

footer {
  font-size: 0.8rem;
  color: rgb(var(--shadow-rgb));
  padding: var(--padding);
}

.login-button {
  background-color: rgb(var(--login-rgb));
  color: rgb(var(--background-end-rgb));
  font-weight: bold;
  text-align: center;
  width: 100%;
  position: sticky;
  /*box-shadow: 0 0.15rem 0.15rem rgb(var(--shadow-rgb));*/
}

.login-button a {
  color: rgb(var(--background-end-rgb));
  display: block;
  width: 100%;
  height: 100%;
  padding: var(--padding);
}

.section-links-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.top-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: var(--padding);
  background: rgb(var(--background-start-rgb));
}

.header-wrapper {
  width: 100%;
  padding: var(--padding);
  background: rgb(var(--background-start-rgb));
}

.section-links-wrapper {
  background: rgb(var(--background-start-rgb));
}

.link-section {
  width: 100%;
  padding: var(--padding);
}

.campus-info-box {
  border: 1px solid rgb(var(--background-start-rgb));
  background-color: rgb(var(--box-background-rgb));
  padding: var(--padding);
  /*box-shadow: 0.15rem 0.15rem 0.15rem rgb(var(--shadow-rgb));*/
}

.campus-info-box:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.campus-info-box:not(:first-child) {
  border-top: none;
}

.campus-info-box:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.campus-info-box button {
  border: none;
  color: rgb(var(--border-rgb));
  font-weight: bold;
  width: 1rem;
}

.org-contact-info {
  display: block;
  position: absolute;
  height: 0;
  max-height: 0;
  left: -9999px;
  opacity: 0;

  padding-left: 1.5rem;

  transition: all 0.5s;
}

.org-contact-info.active {
  position: relative;
  left: auto;
  height: auto;
  max-height: 99em;
  opacity: 1;
}

@keyframes placeholderFlash {
  0% {
    background-color: rgb(var(--background-start-rgb));
  }
  100% {
    background-color: rgb(var(--background-end-rgb));
  }
}

.text-preloader {
  display: block;
  width: 50%;
  height: 1rem;
  background-color: rgb(var(--background-start-rgb));
  animation: 1s linear 0s infinite alternate placeholderFlash;
  margin: 0.15rem 0;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

h2 {
  font-weight: bold;
  font-size: 1.25rem;
}

@media (min-width: 45rem) {
  #announcements {
    margin-left: 1rem;
  }
  
  .section-links-wrapper {
    flex-direction: row;
  }

  .top-wrapper {
    flex-direction: row;
  }

  .login-button {
    width:auto;
    min-width: 16rem;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}